.search-screen-desk {
  background-color: #eeedee;
  height: 120vh;
}

.search-screen-desk .search {
  text-align: center;
}

.search-screen-desk .search-tabs {
  padding-top: 120px;
}

.search-screen-desk .search .search-tabs .search-tab1 {
  display: inline-block;
  margin-top: 100px;
  margin-right: 10px;
  background-color: #52be80;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  font-size: 18px;
}

.search-screen-desk .search .search-tabs .search-tab2 {
  display: inline-block;
  margin-top: 100px;
  margin-left: 10px;
  background-color: #52be80;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  font-size: 18px;
}

.search-screen-desk .search .search-desk {
  outline: none;
  width: 70%;
  height: 60px;
  margin-top: 15px;
  text-indent: 70px;
  border-radius: 20px;
  border: 1px solid grey;
}

.search-screen-desk .searchicon {
  position: relative;
  left: 50px;
}
