.cart-comp {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #52be80;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 21px 36px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -46px;
  z-index: 99;
  padding: 0px;
  border-radius: 6px 0px 0px 6px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  padding: 20px;
}

.cart-comp svg {
  color: #fff;
  display: inline-block;
}

.cart-comp .number {
  display: inline-block;
  color: #fff;
  font-size: 17px;
  margin-left: 5px;
}

.cart-comp .pricetag {
  width: auto;
  height: 35px;
  min-width: 80px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  overflow: hidden;
  border-radius: 6px;
  margin: 5px 10px 10px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.cart-comp .price {
  color: #52be80;
  font-weight: bold;
}
