.searchscreen {
  margin-bottom: 80px;
}

.searchscreen .content {
}

.searchscreen input {
  margin-top: 20px;
  width: 90%;
  height: 45px;
  margin-left: 5%;
  border: 1px solid grey;
  text-indent: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
}

.searchscreen .search-tab {
  display: inline-block;
  margin-left: 5%;
  background-color: #52be80;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  font-size: 18px;
}
