.coupon-slider {
  width: 25%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.3s
    cubic-bezier(
      calc(1 - var(--x2)),
      calc(1 - var(--y2)),
      calc(1 - var(--x1)),
      calc(1 - var(--y1))
    );
  overflow: scroll;
  z-index: 1000;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 21px 36px;
  padding-left: 15px;
  padding-right: 15px;
}

.coupon-slider.hide {
  transform: translate3d(-100vw, 0, 0);
}

.coupon-slider.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.coupon-slider .essential {
  padding-top: 15px;
  padding-bottom: 10px;
}

.coupon-slider svg {
  color: #52be80;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.coupon-slider .number {
  color: #52be80;
  display: inline-block;
  font-size: 22px;
  position: relative;
  top: 4px;
  margin-left: 10px;
}

.coupon-slider .close {
  font-size: 22px;
  position: relative;
  top: 5px;
  cursor: pointer;
}
