.dish {
  padding-bottom: 32px;
  width: 50%;
}

.dish .image {
  width: 250px;
  height: 200px;
  border-radius: 5px;
}

.dish .name {
  font-size: 18px;
}

.dish .description {
  font-size: 15px;
  color: grey;
  width: 70%;
}

.dish .button {
  background-color: #52be80;
  border: none;
  border-radius: 5px;
  outline: none;
}

.dish .buttonRemove {
  background-color: #d9534f;
  border: none;
  border-radius: 5px;
  outline: none;
}

.dish .buttonCustomize {
  background-color: #52be80;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-left: 10px;
}

.dish .btncon {
  color: #fff;
}
