.cartscreenmob .cart-items {
  margin-top: 70px;
}

.cartscreenmob .apply-coupon {
  margin: 20px;
  display: flex;
  border: 1px dotted grey;
  padding: 10px;
  flex-direction: row;
  border-radius: 40px;
}

.cartscreenmob .apply-coupon .discount {
  height: 30px;
  width: 30px;
  margin-top: 2px;
}

.cartscreenmob .apply-coupon .text {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 6px;
}

.cartscreenmob .apply-coupon .arrow {
  position: absolute;
  right: 30px;
  margin-top: 2px;
}

.cartscreenmob .payment-details {
  padding-left: 20px;
  padding-right: 20px;
}

.cartscreenmob .payment-details .main-text {
  color: #52be80;
  font-size: 22px;
}

.cartscreenmob .payment-details .price-details {
  display: flex;
  flex-direction: row;
}

.cartscreenmob .payment-details .price-details .text {
  font-size: 15px;
  font-weight: 400;
}

.cartscreenmob .payment-details .price-details .price {
  position: absolute;
  right: 20px;
}

.cartscreenmob .payment-details .price-details .price-desc .text-explain {
  color: grey;
  font-size: 13px;
  font-weight: 15px;
}

.cartscreenmob .payment-details .price-details .texttotal {
  font-weight: bold;
}

.cartscreenmob .payment-details .price-details .pricetotal {
  font-weight: bold;
  position: absolute;
  right: 20px;
}

.cartscreenmob .essential-details {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.cartscreenmob .essential-details .icon {
  margin-top: 13px;
  margin-right: 10px;
}

.cartscreenmob .essential-details .text {
  font-size: 15px;
  font-weight: 350;
  margin-bottom: 60px;
}

.cartscreenmob .button {
  background-color: #52be80;
  border: none;
  width: 70%;
  margin-left: 15%;
  height: 50px;
  margin-bottom: 10px;
  position: fixed;
  bottom: 10px;
}

.cartscreenmob .button .btncon {
  color: white;
  font-weight: 500;
}
