.order-item {
  width: 100%;
  margin: 5px;
  border: 1px solid grey;
  padding-right: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 1px grey;
}

.order-item .essential-info {
  display: flex;
  flex-direction: row;
}

.order-item .essential-info .restaurant-info {
  display: flex;
  flex-direction: row;
}

.order-item .essential-info .restaurant-info img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.order-item .essential-info .restaurant-info .name {
  color: #212121;
}

.order-item .essential-info .restaurant-info .address,
.order {
  color: grey;
  font-size: 15px;
}

.order-item .essential-info .restaurant-info .view-details {
  color: #52be80;
  cursor: pointer;
}

.order-item .essential-info .status {
  margin-left: 30px;
}

.order-item .items-info {
  display: flex;
  flex-direction: row;
}

.order-item .items-info .paid {
  position: relative;
  left: 100px;
  top: -2px;
}
