.payment-modes {
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-left: 30px;
}

.payment-modes .mode1 {
  margin-right: 10px;
  border: none;
}

.payment-modes .mode2 {
  margin-right: 10px;
  border: none;
}

.payment-modes .mode2 {
  margin-left: 10px;
}

.payment-image {
  width: 150px;
  height: 80px;
  border: 10px solid #eee;
}

/* .payment-image:hover {
  border: 10px solid #ccc;
} */
