.navbar {
  background-color: #fff;
  position: fixed;
  height: 75px;
  width: 100%;
  z-index: 5;
}

.navbar .logo {
  color: #52be80;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.navbar svg {
  color: #52be80;
}

.navbar .cart {
  color: #52be80;
}

.navbar .navlink {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
