.backnavbar {
  margin-top: 10px;
}

.backnavbar .backButton {
  background-color: transparent;
  border: none;
  display: inline-block;
}

.backnavbar svg {
  height: 2em;
  width: 2.5em;
  display: inline-block;
}

.backnavbar .heading {
  margin-top: 8px;
  width: 70%;
  margin-bottom: 0px;
  font-size: 17px;
}

.backnavbar .icons {
  margin-top: 5px;
}
