.cont {
  margin: 20px auto;
}

.homepage .filters {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-top: 100px;
}

.homepage .restaurant-count {
  margin: 10px 40px;
}

.homepage .filters-div {
  margin: 0 10px;
  position: relative;
  padding-bottom: 10px;
}

.homepage .filter {
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  color: #686b78;
  margin-left: 35px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.homepage .filter:active {
  border-bottom: 1px solid #212121;
}

.homepage svg {
  color: #52be80;
}
