.signinpage {
  width: 25%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 1s
    cubic-bezier(
      calc(1 - var(--x2)),
      calc(1 - var(--y2)),
      calc(1 - var(--x1)),
      calc(1 - var(--y1))
    );
  overflow: scroll;
  z-index: 1000;
}
