.accountscreen .account-info {
  padding: 15px;
  margin-top: 20px;
}

.accountscreen .account-info .essential .text-phone {
  color: grey;
}

.accountscreen .account-info .essential .text-email {
  color: grey;
  padding-bottom: 20px;
  border-bottom: 2px solid grey;
}

.accountscreen .options .option {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.accountscreen .options .icon {
  position: absolute;
  right: 15px;
}

.accountscreen .options svg {
  color: #52be80;
}
