.coupon {
  margin-top: 10px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
}

.coupon .nameview {
  color: #212121;
}

.coupon .nameview .description {
  color: grey;
  font-weight: 400;
}

.coupon .nameview .tandc {
  color: #d9534f;
}

.coupon .apply-button {
  background-color: transparent;
  border: none;
  height: 30px;
}

.coupon .apply-button .btncon {
  color: #52bc80;
  font-size: 25px;
}
