.restaurant-view-desk {
  .restaurant-info {
    background-color: #171a29;
    height: 305px;
    pointer-events: auto;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;

    .restaurant-img {
      height: 220px;
      -ms-transform-origin: left top;
      transform-origin: left top;
      transform: translateZ(0) scaleX(1);
      transition: transform 0.2s ease-in-out;
      border-radius: 5px;
      padding: 0 80px;
      margin-top: 30px;
      display: inline-block;
    }

    .restaurant-details {
      display: inline-block;
      margin-top: 70px;
      .name {
        color: #fff;
        font-size: 25px;
      }

      .types {
        color: grey;
      }

      .unservicable {
        background-color: #b63c4c;
        padding: 5px;
        color: white;
        font-weight: bold;
        width: 60%;
        border-radius: 30px;
      }

      .rating {
        padding: 0px 5px;
        font-weight: 400;
        height: 22px;
        display: inline-block;
        border-radius: 20px;
        margin-left: -20px;
      }

      .rating .star-icon {
        height: 20px;
        width: 20px;
        display: inline-block;
        position: relative;
        bottom: 4px;
      }

      .rating .rating-value {
        color: white;
        display: inline-block;
        position: relative;
        bottom: 2px;
        left: 5px;
        font-weight: 20px;
      }
      .distance {
        font-size: 20px;
        color: white;
      }

      .offersdesk {
        width: 100%;
        text-align: center;
        border: 1px solid white;
        padding: 20px;
      }

      .offersdesk .discount {
        height: 20px;
        width: 20px;
      }
      .offersdesk .offer-content {
        display: inline-block;
        position: "relative";
        top: 10px;
        margin: 0px 11px;
        font-size: 14px;
        color: white;
      }
    }
    .search-dish {
      margin-top: 30px;
    }
    .search-dish .search {
      height: 50px;
      width: 300px;
      text-indent: 40px;
      border-radius: 20px;
      outline: none;
      border: none;
      box-shadow: 0 0 6px;
    }
    .search-dish .search-icon {
      margin-top: -41px;
    }
    .search-dish svg {
      height: 2rem;
      width: 2rem;
    }
  }
  .categories {
    margin-top: 100px;
    width: 254px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    height: calc(100vh - 150px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .category-name {
    color: #52be80;
  }

  .items {
    list-style: none;
  }

  .item {
    color: #212121;
    font-size: 17px;
    font-weight: 500;
  }

  .item:active {
    color: #52be80;
  }

  .item:hover {
    color: #52be80;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .dishes-view {
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .dishes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
  }

  .offers-cart {
    margin-top: 100px;
  }

  .offers-cart .cart-semi-text {
    color: grey;
  }
}
